*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#222;
    color:#b9b9b9;
}

//* SHARED SHIT *//
form{

}


form{
  textarea, input[type="email"],input[type="password"],input[type="text"],input[type="url"]{
    height:36.5px;
    border:1px solid #222;
    border-radius:4px;
    background-color:#fff;
    font-size:15px;
    padding:6px 12px;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus{
      color:#444;
      background-color:#fff;
      border-color:#739ac2;
      outline:0;
      box-shadow:0 0 0 0.2rem rgba(55, 90, 127, 0.25);
    }
  }
  button[type="submit"], input[type="submit"]{
    height: 36.5px;
    background-color: rgb(55, 90, 127);
    border-color: #2b476482;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    font-size:15px;
    font-weight:bold;
    margin:15px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: all 300ms ease;
    &:hover{
      color: #fff;
      background-color: #2b4764;
      border-color: #28415b;
    }
  }
  .gif-search-toggle{
    label{
      cursor:pointer;
    }
  }
  textarea{
    height:100px;
  }
  .alert-error{
    position:absolute;
    background-color:#e74c3c;
    max-width:500px;
    width:100%;
    color:#fff;
    padding:20px;
    border-radius:3px;
    h4{
        position:relative;
        font-size:22px;
        margin-bottom:15px;
    }
    p{
        font-size:18px;
        margin-bottom:15px;
    }
    span{
        text-align:right;
        width:100%;
        opacity:0.6;
        font-size:22px;
        padding:0 5px 0;
        transition:opacity 300ms ease;
        cursor:pointer;
        position:absolute;
        padding:3px 14px;
        top:0;
        right:0;
        z-index:1;
        &:hover{
            opacity:0.95;
        }
    }
  }
}
header{
    width:100vw;
    background-color:#303030;
    .inner-header{
        display:flex;
        justify-content:space-around;
        max-width:980px;
        width:95%;
        margin:0 auto;
        nav{
            ul{
                display:flex;
                list-style-type:none;
                li{
                    padding:10px 5px;
                    a{
                        padding:10px 5px;
                        opacity:0.6;
                        color:white;
                        text-decoration:none;
                        transition:all 300ms ease;
                        &:hover{
                            opacity:0.75;
                        }
                    }
                    button{
                      height: 36.5px;
                      background-color: #2b4764;
                      border-color: #2b476482;
                      border-radius: 5px;
                      color: #fff;
                      cursor: pointer;
                      padding:5px;
                    }
                }
                li:not(:nth-child(1)){
                    margin-top:3px;
                }
                li:nth-child(1){
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    img{
                        width:32px;
                        margin:0;
                    }
                }
            }
        }
        form{
            display:flex;
            align-items:center;
            button{
                height:36.5px;
                background-color:#2b4764;
                border-color:#2b476482;
                border-radius:5px;
                color:#fff;
                cursor:pointer;
            }
            input{
                height:36.5px;
                border-color:#2b4764;
                border-radius:5px;
                padding:5px;
                margin:0 5px;
            }
        }
    }
    .janitor-login{
      form{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        max-width: 320px;
        margin:0 auto;
        div{
          width:100%;
          padding:10px 5px 5px;
          &.fields{
            input{
              width:calc(100% - 62px);
            }
          }
          &.btns{
            display: flex;
            flex-direction:column;
            align-items:center;
            position:relative;
            input,button{
              margin:10px 5px;
              width:150px;
            }
            a{
              padding: 10px 5px;
              opacity: 0.6;
              color: white;
              text-decoration: none;
              transition: all 300ms ease;
              &:hover{
                opacity:0.75;
              }
            }
            button{
              // display:none;
            }
            input{
              width:75px;
              height:30px;
            }
            .img-wrapper{
              position:absolute;
              right:0;
              height:48px;
              width:48px;
              padding:0;
              display:flex;
              align-items:center;
              justify-content:center;
              cursor:pointer;
              img{
                width:12px;
              }
            }
          }
          div{
            display:flex;
            align-items:center;
            justify-content:space-between;
            label{
              padding:10px;
              width:62px;
              display:block;
            }
          }
        }
      }
    }
    .marquee {
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      padding: 2px;
      position: relative;
      background-color: #222;
      font-size: 27px;
      line-height:135%;
      font-family: 'cxled',monospace;
      pointer-events:none;
      &:hover{
        > span{
          -webkit-animation-play-state:paused;
          animation-play-state:paused;
        }
      }
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: radial-gradient(circle, transparent 20%, transparent 60%), radial-gradient(circle, transparent 40%, #303030 15%) 25px 25px;
        background: radial-gradient(circle, transparent 20%, transparent 60%), radial-gradient(circle, transparent 80%, #303030 15%) 0px 0px;
        // background-size: .05em 0.05em;
        background-size:.025em 0.1em;
      }
      > span {
        color: #edcd6c;
        display: inline-block;
        padding-left: 100%;
        // -webkit-animation: marquee 20s linear infinite;
        // animation: marquee 20s linear infinite;
        -webkit-animation: movement-steps20 10s linear infinite forwards;
        animation: movement-steps20 10s linear infinite forwards;
        // font-size: 27px;
        font-size: 22px;
        line-height: 135%;
        letter-spacing: 2px;
        opacity: 0.8;
        pointer-events:initial;
        span{
          display:inline-block;
          margin:0 5px;
          a{
            pointer-events:initial;
            &:visited{
              color:#edcd6c;;
            }
          }
        }

      }
      p{
        color: white;
        position: absolute;
        top: -7px;
        right: 0px;
        opacity:0;
        pointer-events:none;
        transition:all 300ms ease;
        cursor: pointer;
        padding: 10px;
        z-index: 2;
        background-color: #222;
        width: 50px;
        text-align:center;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          // background: radial-gradient(circle, transparent 20%, transparent 60%), radial-gradient(circle, transparent 40%, #000 15%) 25px 25px;
          // background-size: .05em 0.05em;
          z-index:-1;
        }
        &:nth-child(1){
          left: 0;
          font-size: 52px;
          &:after{
            background-size: .1em 0.1em;
          }
        }
        &:hover{
          color:red;
          opacity:1;
          pointer-events:initial;
        }
      }
      &.has-opts{
        p{
          opacity:1;
          pointer-events:initial;
        }
      }
    }
    #marqueeForm{
      display:flex;
      flex-direction:column;
      align-items:center;
      max-width:500px;
      width:100%;
      margin:0 auto;
      input[type="text"]{
        width:calc(100% - 80px);
      }
      .marquee-form-top, .marquee-form-bottom{
        width:100%;
        display:flex;
        align-items:center;
      }
      .marquee-form-bottom{
        label{
          width: 105px;
          height: 36.5px;
          display: flex;
          align-items: center;
          input{
            margin-left:5px;
          }
        }
        input{
          width: calc(100% - 105px);
        }
      }
    }
    @keyframes marquee {
      0% {
        transform: translate(0, 0);
        // padding-left:100%;
        padding-right:0;
      }
      100% {
        transform: translate(-100%, 0);
        padding-right:100%;
        // padding-left:100%;
      }
    }
    @keyframes movement-steps20 {
      0% {
        transform: translateX(0%);
        // padding-right:0%;
        // padding-left:100%;
        left: 100%;
        
      }
      5%,
      9.99% {
        transform: translateX(-5%);
        // padding-right:5%;
        // padding-left:95%;
        left: 95%;
        
      }
      10%,
      14.99% {
        transform: translateX(-10%);
        // padding-right:10%;
        // padding-left:90%;
        left: 90%;
      }
      15%,
      19.99% {
        transform: translateX(-15%);
        // padding-right:15%;
        // padding-left:85%;
        left: 85%;
      }
      20%,
      24.99% {
        transform: translateX(-20%);
        // padding-right:20%;
        // padding-left:80%;
        left: 80%;
      }
      25%,
      29.99% {
        transform: translateX(-25%);
        // padding-right:25%;
        // padding-left:75%;
        left: 75%;
      }
      30%,
      34.99% {
        transform: translateX(-30%);
        // padding-right:30%;
        // padding-left:70%;
        left: 70%;
      }
      35%,
      39.99% {
        transform: translateX(-35%);
        // padding-right:35%;
        // padding-left:65%;
        left: 65%;
      }
      40%,
      44.99% {
        transform: translateX(-40%);
        // padding-right:40%;
        // padding-left:60%;
        left: 60%;
      }
      45%,
      49.99% {
        transform: translateX(-45%);
        // padding-right:45%;
        // padding-left:55%;
        left: 55%;
      }
      50%,
      54.99% {
        transform: translateX(-50%);
        // padding-right:50%;
        // padding-left:50%;
        left: 50%;
      }
      55%,
      59.99% {
        transform: translateX(-55%);
        // padding-right:55%;
        // padding-left:45%;
        left: 45%;
      }
      60%,
      64.99% {
        transform: translateX(-60%);
        // padding-right:60%;
        // padding-left:40%;
        left: 40%;
      }
      65%,
      69.99% {
        transform: translateX(-65%);
        // padding-right:65%;
        // padding-left:35%;
        left: 35%;
      }
      70%,
      74.99% {
        transform: translateX(-70%);
        // padding-right:70%;
        // padding-left:30%;
        left: 30%;
      }
      75%,
      79.99% {
        transform: translateX(-75%);
        // padding-right:75%;
        // padding-left:25%;
        left: 25%;
      }
      80%,
      84.99% {
        transform: translateX(-80%);
        // padding-right:80%;
        left: 20%;
        // padding-left:20%;
      }
      85%,
      89.99% {
        transform: translateX(-85%);
        // padding-right:85%;
        left: 15%;
        // padding-left:15%;
      }
      90%,
      94.99% {
        transform: translateX(-90%);
        // padding-right:90%;
        left: 10%;
        // padding-left:10%;
      }
      95%,
      99.99% {
        transform: translateX(-95%);
        // padding-right:95%;
        left: 5%;
        // padding-left:5%;
      }
      100% {
        transform: translateX(-100%);
        left: 0%;
        // padding-right:100%;
        // padding-left:0%;
      }
    }
}
section.create-thread{
    display:flex;
    justify-content:space-around;
    height: 515px;
    margin-top:20px;
    form{
        max-width: 500px;
        width:100%;
        .form-group{
            display:flex;
            flex-direction:column;
            max-width: 500px;
            label{
                margin: 5px 15px 5px 0;
            }
            input,textarea{
                background-color:#e6e6e6;
                min-height:26px;
            }
            input[type="radio"]{
                display:none;
                &:checked+label{
                    background-color:#313131;
                    border-color:#ffff00ad;
                    color:#ff0;
                }
            }
            .gif-search-toggle{
                .btn{
                    display:inline-block;
                    font-weight:400;
                    text-align:center;
                    user-select:none;
                    border: 1px solid transparent;
                    padding:0.375rem 0.75rem;
                    font-size:0.9375rem;
                    line-height:1.5;
                    border-radius:0.25rem;
                    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                }
                .btn-primary{
                    color:#fff;
                    
                    border-color:#444;
                }
            }
        }
    }
    .gifBoxWrapper{
        width:calc(100% - 500px);
        max-width: 480px;
        height:480px;
        position:relative;
        .paginate-arrows{
            position:absolute;
            bottom:0%;
            left:50%;
            transform:translate(-50%,0);
            ul{
                display:flex;
                list-style:none;
                div{
                    display:flex;
                }
                li.page-item{
                    &:nth-child(1) a{
                        border-radius:4px;
                        border-top-right-radius:0;
                        border-bottom-right-radius:0;
                    }
                    &:last-child a{
                        border-radius:4px;
                        border-top-left-radius:0;
                        border-bottom-left-radius:0;
                    }
                    p.page-link{
                        color:#fff;
                        cursor:pointer;
                        background-color:#444;
                        font-size:0.85rem;
                        padding:0.85rem 1.15rem;
                        line-height:1.5;
                        display:block;
                        text-decoration:none;
                    }
                    &.disabled{
                        p.page-link{
                            background-color:#007053;
                        }
                    }
                    &.active{
                        p.page-link{
                            background-color:#313131;
                        }
                    }
                    &:hover{
                        p.page-link{
                            background-color:#313131;
                        }
                    }
                }
            }
            .paginate-next,.paginate-prev{
                width:40px;
                height:40px;
                display:flex;
                justify-content:center;
                align-items:center;
                border:1px solid #217dbb;
                border-radius:80%;
                background-color:#2384c6;
                color:#fff;
                cursor:pointer;
            }
        }
        .emptyGifResults{
            border:2px solid gray;
            border-radius:4px;
            width:100%;
            height:100%;
            img{
                width:100%;
                height:100%;
             }
        }
        .gifBox{
            width:100%;
            height:100%;
            display:flex;
            flex-wrap:wrap;
            border:2px solid gray;
            border-radius:4px;
            .gifBoxGif{
                border:1px solid gray;
                width:50%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition:all 300ms ease;
                &:hover{
                    border-color:#fff;
                    cursor:pointer;
                }
                img{
                    width:100%;
                    height: 100%;
                    object-fit:cover;
                }
            }
            .gif-attribute{
              position:absolute;
              bottom:-40px;
              left:50%;
              transform:translateX(-50%);
              padding-top:5px;
            }
        }
    }

}
div{
    li{
        display:flex;
        margin: 0 auto;
        max-width:980px;
        justify-content:flex-start;
        img, video{
            filter:brightness(75%);
            width:300px;
            border:2px solid #a4a4a4;
            border-radius:3px;
            margin-right:15px;
            &.img-thumbnail{
              min-height:200px;
            }
            &:hover{
                filter:none;
            }
        }
        div{
            width: calc(100% - 300px);
            img{
              width:50px;
              border:none;
            }
            small{
              display:block;
              margin:15px 0;
            }
            &.edit_tab{
              width:100%;
              display:flex;
              button{
                margin-left:15px;
                cursor:pointer;
                background-color:transparent;
                height: 36.5px;
                border-radius: 5px;
                padding:5px;
                transition:all 300ms ease;
                border-width:0;
                &.delete{
                  color:#e74c3c;
                  border-color:#e74c3c;
                  &:hover{
                    background-color:#e74c3c;
                  }
                }
                &.edit{
                  color:#f39c12;
                  border-color:#f39c12;
                  &:hover{
                    background-color:#f39c12;
                  }
                }
                &.react{
                  color:#3498db;
                  border-color:#3498db;
                  &:hover{
                    background-color:#3498db;
                  }
                }
                &:hover{
                  color:#fff;
                }
              }
            }
        }
    }
    hr{
        opacity:0;
        max-width:660px;
        margin:10px auto;
    }
}
.about{
  h1{
    text-align:center;
    margin:20px;
  }
}
section#cookie_consent{
    min-height: 70px;
    position: fixed;
    bottom: 5px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.8);
    border:2px solid #212121;
    border-radius:4px;
    width: 525px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    align-items:center;
    justify-content:center;
    .cookie_consent_wrapper{
        border-radius:4px;
        width:500px;
        height:90%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        background-color:#212121;
        padding:5px;
        .cookie_message{
            margin-bottom:5px;
        }
        .cookie-btns{
            width:100%;
            display:flex;
            justify-content:space-around;
            align-items: center;
            a{
                color:#ce7b45;
            }
            .cookie_btn_wrapper{
                button{
                    padding:5px;
                }
            }
        }
    }
}
section#cookies{
  text-align:center;
  h2{
    font-size:28px;
    margin:15px;
  }
  form{
    margin:20px;
  }
}
section#register{
  h3{
    text-align:center;
    font-size:28px;
    margin:15px;
  }
  form{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    max-width:320px;
    margin:0 auto;
    > div{
      // margin-top:10px;
      input{
        margin:0;
        height:30px;
      }
      .img-wrapper{
        margin:6px 0 10px;
        display:flex;
        align-items:center;
        div.img{
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left:5px;
          cursor:pointer;
          transition:all 300ms ease;
          position:relative;
          // &:hover{
          //   border-color:white;
          //   img{
          //     &.active{
          //       opacity:0;
          //     }
          //     &:not(.active){
          //       opacity:1;
          //     }
          //   }
          //   // img:nth-child(1){
          //   //   opacity:0;
          //   // }
          //   // img:nth-child(2){
          //   //   opacity:1;
          //   // }
          // }
          img{
            width:32px;
            pointer-events:none;
            transition:opacity 300ms ease;
            opacity:0;
            &.active{
              opacity:1;
            }
            &:nth-child(2){
              position:absolute;
            }
          }
        }
      }
    }
    input[type="submit"]{
      height: 36.5px;
      background-color: #2b4764;
      border-color: #2b476482;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      padding: 5px;
    }
    input{
      margin:10px 0 10px 0;
    }
  }
}
section, .janitor-login, .media-body{
  position:relative;
  .flash{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:none;
    color:#fff;
    position:absolute;
    width:290px;
    padding:30px 25px;
    border-radius:4px;
    z-index:2;

    display:flex;
    flex-direction:column;

    &.error{
      background-color:#e74c3c;
    }
    &.success{
      background-color:#00bc8c;
    }
    button{
      &.flash-btn{
        border:none;
        position:absolute;
        top:0;
        right:0;
        z-index:2;
        margin:0;
        border-radius:0;
      }
      padding:12px 20px;
      color:inherit;
      cursor:pointer;
      background-color:transparent;
      font-weight:700;
      line-height:1;
    }
    .opt-btns{
      margin-top:10px;
      button{
        padding:12px 12px;
        opacity:0.6;
        color:#fff;
        border-radius:5px;
        border:2px solid #fff;
        background-color:#e74c3c;
        transition:all 300ms ease;
        background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        &:hover{
          opacity:1;
        }
      }
    }
    strong{
      font-weight:bolder;
      margin:5px 0;
    }
    a{
      text-decoration:underline;
      font-weight:700;
      color:#fff;
      margin:5px 0;
    }
  }
}
@media screen and (max-width: 979px) {
    section.create-thread{
        justify-content:initial;
        flex-direction:column;
        height:auto;
        align-items:center;
        margin-bottom:50px;
        .gifBoxWrapper{
            width:100%;
        }
    }
    .list-unstyled{
        width:95%;
        margin:0 auto;
    }
  }

@media screen and (max-width: 767px) {
  header{
      .marquee{
        > span{
          font-size:18px;
          animation-duration:15s;
          animation:movement-steps20 15s linear infinte;
        }
      }
        .inner-header{
            flex-direction:column;
            nav{
                ul{
                  flex-direction:column;
                    font-size:30px;
                    li{
                        &:nth-child(1){
                          flex-direction:row;
                        }
                        &:not(:first-child){
                            font-size:18px;
                            a{
                              opacity:0.75;
                            }
                        }
                        img{
                            width:32px;
                            margin:0;
                        }
                    }
                }
            }
            form{
                flex-direction: column;
                button{
                    display:none;
                }
                input{
                    text-align: center;
                }
                label{
                    margin-bottom:5px;
                }
            }
        }
    }
    div{
        li{
            flex-direction:column;
            align-items:center;
            div{
             width:100%;
            }
            img{
               width:75%;
            }
        }
    }
    section#cookie_consent{
        width:100vw;
        height:120px;
        .cookie_consent_wrapper{
            .cookie-btns{
                flex-direction:column;
                a{
                    margin-bottom:5px;
                }
            }
        }
    }
}
@media screen and (max-width: 479px){
    div{
        li{
            img{
                width:100%;
            }
        }
    }
}